*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.canvas{
    border: 1px solid red;
    // margin: 1rem;
    overflow: hidden;
    position: relative;
}


#landingPage {
    position: relative;
    height: 100vh; 


.image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
}

#startGameButton {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

        padding: .75rem 1.25rem;
        border-radius: 10rem;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        appearance: none;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #000;
          }
}
}

.scorecard{
    position: absolute;
    top: 0;
    left: 0;

    
}

.distance{
    color: white;
    padding: 1rem;
    font-size: 3rem;
}

.coins{
    color: yellow;
    padding: 0 1rem;
    font-size: 3rem;
}
