*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.canvas{
    position: relative;
}


#landingPage {
    position: relative;
    height: 100vh; 


.image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
}

#startGameButton {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

        padding: .75rem 1.25rem;
        border-radius: 10rem;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        appearance: none;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #000;
          }
}
}

.scorecard{
    position: absolute;
    top: 0;
    left: 0;

    
}

.distance{
    color: white;
    padding: 1rem  1rem 0.5rem;
    font-size: 3rem;
}
.highScore{
    color: white;
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

.coins{
    color: yellow;
    padding: 0rem 1rem;
    font-size: 3rem;
}

.dialogContainer{
   padding: .5rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;

    .flew{
        color: #fff;
        font-size: 2.5rem;

    }
    .flew__Distance{
        font-size: 6.5rem;
        color: yellow;
    }

    .flew__coinCollectedWhole{
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;

        

        .flew__coinCollected_phrase{
           padding: 1rem 0;
           font-size: 2.5rem;
           color: #fff;
           margin: 1rem 0rem;
        }

        .flew__coinCollected_coin{
            font-size: 4rem;
            color: yellow;
        }
    }

        

        @keyframes blink {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        
        .flew_restart {
            font-size: 3rem;
        color: #00ffa5;
            animation: blink 1s infinite;
            font-weight: 700;
        } 
}


#alert {
    position: absolute;
    display: none;
    animation: blink 1s infinite;
    width: 60px;
    height: 60px;

    img{
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
  